<div class=" d-flex flex-wrap col-12 section">
  <div class="col-12 cabecera">
    <h1>DESCARGA LA DEMO DE
      <br>
      <br>
      "THE FALLEN"</h1>
    </div>
    <div class="col-12">
      <p>
        <br>
        Si la descarga no ha comenzado usa el siguiente link</p>
    </div>
  <div class="col-12 d-flex lex-wap downloads">
    <div class="col-6">
      <img src="assets\imagenes\icono2.png" alt="">
     </div>
     <div class="col-6">
       <a  href="file_to_download\icono2.png" download="foto_icono.jpg" >
         <p>¡Pincha aquí!</p>
       </a>
       </div>
  </div>


</div>
