@font-face {
  font-family: BadSignal;
  src: url('/assets/fonts/bad_signal/Bad_Signal.otf');
}
@font-face {
  font-family: Doctor;
  src: url('/assets/fonts/doctor_glitch/Doctor_Glitch.otf');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }



  header > div > div > button {
    background-color: rgb(16, 14, 17);
    align-items: center;
    color: white;
    border:  none;

  }

  .toolbar {
    align-items: center;
    background-color: rgb(16, 14, 17);
    color: white;
    font-family: doctor;
  }

  .toolbar img {
    width: 20%;
    margin: 0 5px;
  }

  nav > * {
    margin: 0 2%;
    font-size: x-large;
    padding: 0 15px;
  }

  h6{
    color: white;
    text-decoration: none;

  }
  nav > a  {
    color: white;
    text-decoration: none;
    font-family: badsignal;
  }

  nav > a:visited{
    background-color: rgb(16, 14, 17);
    color: white;
  }

  nav > a:hover{
    background-color: white;
    color: black;
  }

  .nav-tabs{
    border: 0;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  section{

    width: 80%;
    height: -webkit-fill-available;
    background-color:rgba(#ffffff, 0.03);
  }

  footer {
    align-items: flex-end;
    height: 10%;
    display: flex;
    background-color: black;

  }
  footer>div>img{
    width: 5%;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
