@font-face {
  font-family: BadSignal;
  src: url('/assets/fonts/bad_signal/Bad_Signal.otf');
}
@font-face {
  font-family: Doctor;
  src: url('/assets/fonts/doctor_glitch/Doctor_Glitch.otf');
}

@font-face {
  font-family: Debug;
  src: url('/assets/fonts/debug/Debug.otf');
}

@font-face {
  font-family: handwriting_black;
  src: url('/assets/fonts/handwriting_black/Handwriting_black.otf');
}
@font-face {
  font-family: tangerine;
  src: url('/assets/fonts/Tangerine/Tangerine-Bold.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: justify;
}
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  header > div > div > button {
    background-color:rgb(16, 14, 17);
    align-items: center;
    color: white;
    border:  none;

  }

  .toolbar {
    align-items: center;
    background-color: rgb(16, 14, 17);
    color: white;
    font-family: doctor;

    img{
      width: 20%;
    margin: 0 5px;
    }
  }

  nav{
    a{
      color: white;
    text-decoration: none;
    font-family: badsignal;
    }
    a:visited{
      background-color: rgb(16, 14, 17);
      color: white;
    }
    a:hover{
      background-color: white;
      color: black;
    }
    *{
      margin: 0 2%;
    font-size: x-large;
    padding: 0 15px;
    }
  }

  h6{
    color: white;
    text-decoration: none;

  }


  .nav-tabs{
    border: 0;
  }

   #twitter-logo:hover,
   #youtube-logo:hover {
    opacity: 0.8;
  }

  section{
    width: 80%;
    height: 100%;
    height: -webkit-fill-available;
    padding-bottom: 10px;
  }

  footer {
    height: 10%;
    background-color: rgb(23, 22, 24);
   div{
    div{
      img{
        width: 15%;
      }
      p{
        font-family: doctor;
        font-size: x-large;
        color: white;
      }
    }

    a{
      display: flex;
    align-items: center;
    }
   }
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
