p{
  color: white;
  font-size: x-large;
  font-family: BadSignal
}

div, .img{
text-align: center;

  img{

    width: 70%;
  }
}
.section{
  background-color:rgba(#ffffff, 0.03);
}

.entradilla{
  padding: 35% 0;
  p{
    font-size: xx-large;
  }

}
