<div class="col-12 d-flex flex-wrap section">
  <div class="col-12 entradilla">
    <p>Estos son algunos de los enemigos que nos podremos encontrar durante nuestro trayecto.</p>
  </div>
  <div class="col-12 d-flex flex-wrap">
    <div class="col-7 img">
      <img src="assets\imagenes\skeleton1.PNG" alt="No muerto Mercenario">
      <p>No muerto Mercenario</p>
    </div>
    <div class="col-5 img">
      <img src="assets\imagenes\skeleton2.PNG" alt="No muerto Esclavo">
      <p>No muerto Esclavo</p>
    </div>
    <div class="col-5 img">
      <img src="assets\imagenes\skeleton3.PNG" alt="No muerto Mercader">
      <p>No muerto Mercader</p>
    </div>
    <div class="col-7 img">
      <img src="assets\imagenes\skeleton4.PNG" alt="No muerto Asesino">
      <p>No muerto Asesino</p>
    </div>

  </div>
   <div class="col-6 img">
      <img src="assets\imagenes\skeleton5.PNG" alt="No muerto Caballero">
      <p>No muerto Caballero</p>
    </div>

  <div class="col-12 entradilla">
    <p>Luego tenemos algunos enemigos especiales, y más peligrosos...</p>
  </div>
  <div class="col-12 d-flex flex-wrap">
    <div class="col-12 img">
      <img src="assets\imagenes\master.PNG" alt="Master">
      <p>Master</p>
    </div>
    <div class="col-12 img">
      <img src="assets\imagenes\troll.PNG" alt="Troll de la montaña">
      <p>Troll de la montaña</p>
    </div>

<div class="col-12">
    <p>
      <br>
      <br>
      <br>
    </p>
  </div>


</div>
