
.body{
  position: absolute;
  width: 100%;
  height: -webkit-fill-available;
  background-color:rgb(16, 14, 17) ;
  background-image: url('assets/imagenes/bonfire.gif');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -100%;

}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
