<div class="d-flex col-12 flex-wrap section ">
  <div class="col-10">
    <p>
      The Falle cuenta una historia de redención.
      <br>
      Por ello, los eventos serán protagonizados por Taro.

      Un guerrero que lucho por su reino en las grandes guerras.
      Tristemente nadie recuerda su nombre, y mucho menos su existencia.
      <br>
      <br>
      The Fallen nos guiará por las tierras natales de Taro años después de su retiro al bosque.
    </p>
  </div>
  <div class="col-2"><img class="taro" src="assets\imagenes\Taro.png" alt=""></div>
  <div class="col-12">
    <p>
      Tiene gracia como la mente humana es capaz de olvidar, pero aun asi en ocasiones mostrar nuestros más oscuros temores.
      <br>
      Taro, incluso tras su retiro temía dia y noche de que los enemmigos volviesen, pese a vencer indiscutiblemente nunca estuvo tranquilo.
      <br>
      Por alguna razón Taro ha decidido salir de su retiro, y aunque no tiene clara la razón, sabe que aun es su deber proteger la tierra que le vió crecer.
    </p>
  </div>

  <div class="col-3"><img class="themis" src="assets\imagenes\TheFallen.png" alt=""></div>
  <div class="col-9">
    <p>
      Ahora, lo unico que le queda a Taro es rezar por no perder el poco juicio que le queda.
      <br>
      Por suerte, o por elección, construyó su casa en el bosque al lado de una de las muchas estatuas de la Diosa Themis
      <br>
      Cuentan que en ocasiones aquellos que vieron a la muerte a los ojos nunca vuelven a ser los mismos. Las personas olvidan a veces que no son más que seres humanos. Y por ello, a veces son ellos mismos quienes se destruyen.
      <br>
      Por alguna razón Taro ha decidido salir de su retiro, y aunque no tiene clara la razón, sabe que aun es su deber proteger la tierra que le vió crecer.
    </p>
  </div>
  <div class="col-12">
    <p>
      Para saber la verdad, nuestro protagonista tendrá que enfrentarse a aquellos que se pongan delante.
      <br>
      ¿Habrá pasado algo realmente? o solo son los delirios de un viejo héroe de guerra.
      <br>
      Por alguna razón Taro ha decidido salir de su retiro, y aunque no tiene clara la razón, sabe que aun es su deber proteger la tierra que le vió crecer.

    </p>

  </div>
  <div class="col-12 frase">
    <h5>
      Cuentan que en ocasiones aquellos que vieron a la muerte a los ojos nunca vuelven a ser los mismos. Las personas olvidan a veces que no son más que seres humanos. Y por ello, a veces son ellos mismos quienes se destruyen.
   </h5>
  </div>
  <div class="col-12">
    <p>
      <br>
      <br>
      <br>
    </p>
</div>

