<div class="col-12 d-flex flex-wrap section">
<h3>La página web</h3>
  <p>En este caso la pagina web ha sido codificada con un lenguaje de marcas, o dicho de otra forma con HTML5
    <br>
    Sin embargo usar unicamente HTML5 hubiese sido muy sencillo, por lo que la página esta hecha principalmente con:

  </p>
  <div class=" col-12 center"><img src="assets\imagenes\Angular.png" alt="">
  <p>ANGULAR</p></div>
  <p>Angular es un framework que usa typeScript para realizar unas páginas web dinámicas y más vistosas
    <br>
    La principal diferencia respecto a HTML5 es que angular no necesita recargar la pestaña para cambiar de sección.
    Haciendo que sea visiblemente más rápida para el usuario.
  </p>
  <div class=" col-12 center"><img src="assets\imagenes\Typescript.png" alt=""></div>
    <p>
    <br>
    A su vez la págia web hace uso de herramientas más comunes como SCSS,  un lenguaje de hoja de estilos en cascada, que nos ha ayudado a darle formato y diseño a los elementos de la web
  </p>
  <div class=" col-12 center"><img src="assets\imagenes\Sass.png" alt=""></div>

  <h3>The Fallen</h3>
 <p>
  El juego ha sido desarrollado con Unreal Engine 4, un motor de video gratuito desarrollado por la desarrolladora de videojuegos Epic Games.
  <br>
  Es totalmente gratiuto, al menos lo esencial, fue lanzado en 1998, aunque la versión que nosotros usamos fue lanzada el 5 de marzo de 2015, de forma gratuita.
 </p>
  <div class=" col-12 center"><img src="assets\imagenes\ue4.png" alt=""><p>Este motor usa un lenguaje propio</p></div>




  <p>
    "The Blueprint Visual Scripting system in Unreal Engine is a complete gameplay scripting system based on the concept of using a node-based interface to create gameplay elements from within Unreal Editor."
  </p>
   <div class=" col-12 center"><img src="assets\imagenes\Blueprints.png" alt=""></div>
   <p>Dicho por los propios desarrolladores, es una codificacion basada en nodos, los cuales hacen el desarrollo mucho más dinámico y sencillo a la hora de empezar en este lenguaje
     <br>
     Este es un ejemplo de uno de los blueprints que hemos desarrollado.
   </p>
   <div class=" col-12 center"><img class="foto" src="assets\imagenes\ejemploDeBlueprints.jpeg" alt=""></div>

  </div>
